.box{
    background-color: white;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.div{
    border-color: black;
    margin: 0px;
    padding: 0px;
}

.grid{
    height: 512px;
    width: 480px;
    grid-template-columns: repeat(16,2fr);
    grid-template-rows: repeat(16,2fr);
    display: inline-grid;
    margin: 10px;
    padding: 0px;
}

.box.active{
    background-color: violet;
}